#arrow{width: 50px;margin-top: 20px;
    cursor: pointer;

}h2{
    margin-left: 590px;
    color: #0a6f48;
    font-size: 30px;
    font-family: 'League Spartan', sans-serif;

}p{
    margin-left: 620px;font-family: 'League Spartan', sans-serif;font-size: 24px;color: #0a6f48;margin-top: 368px;
}button
{
    margin-left: 610px;
    border: none;
    width: 170px;
    height: 40px;
    font-family: 'League Spartan', sans-serif;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    background-image: linear-gradient(to left,#006f43,#89dc66);
    transition: 0.6s;
    background-size: 100%;
    position: absolute;}
    #scan
    {width: 130px;margin-left: 630px;margin-top: 100px;position: absolute;}
    #background
    {
        width: 350px;margin-bottom: 40px;margin-left: 520px;position: absolute;
    }
    button:hover{border: 2px solid #89dc66; }
    a{
        text-decoration: none;
        color: white;
}
video{
        width: 390px;
        clip-path: circle();position:absolute;margin-left: 500px;margin-top: 30px;

}
@media screen and (max-width:768px){
    h2{
        margin-left: 130px;
        color: #0a6f48;
        font-size: 30px;
        font-family: 'League Spartan', sans-serif;
    
    }p{
        margin-left: 160px;font-family: 'League Spartan', sans-serif;font-size: 24px;color: #0a6f48;margin-top: 368px;
    }button
    {
        margin-left: 150px;
        width: 170px;
        height: 40px;
        font-size: 15px;
        }video{
        width: 390px;
        clip-path: circle();position:absolute;margin-left: 50px;margin-top: 30px;

}#scan
{width: 130px;margin-left: 100px;margin-top: 100px;position: absolute;}

}
@media screen and (min-width:768px) and (max-width:1024px){
    h2{
        margin-left: 370px;
        color: #0a6f48;
        font-size: 30px;
        font-family: 'League Spartan', sans-serif;
    
    }
    p{
        margin-left: 400px;font-family: 'League Spartan', sans-serif;font-size: 24px;color: #0a6f48;margin-top: 368px;
    }
    button
    {
        margin-left: 390px;
        width: 170px;
        height: 40px;
        font-size: 15px;
    }
        video{
        width: 390px;
        clip-path: circle();position:absolute;margin-left: 280px;margin-top: 30px;

}
#scan{width: 130px;margin-left: 405px;margin-top: 100px;position: absolute;}
}

 