body {
  margin: 0;
}

/**main div**/
.container {
  display: flex;
  margin-left: 350px;
}

/**sidebar element**/
.header {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding-top: 30px;
  text-align: center;
}

.sidebar {
  font-family: "Poppins", sans-serif;
  background-color: #077545;
  width: 250px;
  height: 100vh;
}

.sidebar span {
  padding-left: 5px;
}

.sidebar ul {
  margin: 0;
  list-style-type: none;
}

.list {
  padding-top: 40px;
  color: white;
  font-size: 15px;
}

.list li {
  padding: 10px;
  margin-bottom: 10px;
}

.logout {
  position: absolute;
  bottom: 0px;
  padding-left: 70px;
  padding-bottom: 30px;
}

.logout button {
  border: none;
  background-color: #077545;
  color: white;
  font-size: 20px;
  padding: 10px;
}

.logout button:hover {
  color: #077545;
  background-color: white;
  border-radius: 30px;
}

.logout span {
  padding-left: 5px;
}

/**===========================================================================================================**/
/**account page**/
.display {
  width: 590px;
  border-right: 1px solid #077545;
  padding-top: 120px;
}

.photo {
  display: flex;
  padding-bottom: 60px;
  margin-left: 100px;
}
.photo img {
  width: 50px;
  height: 50px;
}

.photo div {
  font-size: 17px;
  padding-top: 17px;
  padding-left: 10px;
}

form input {
  border-color: #077545;
  border-style: solid;
  border-radius: 8px;
  height: 30px;
}

form label {
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 12px;
}
.name {
  display: flex;
  justify-content: center;
}

.username {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.btn {
  margin-top: 80px;
  text-align: center;
}

.btn input {
  border-radius: 8px;
  border-style: none;
  background-color: #077545;
  color: white;
  height: 40px;
  width: 150px;
  padding: 0px 15px 0px 15px;
}

.input_error .error {
  margin-left: 5px;
}
.error {
  color: red;
}
.username.invalid label {
  color: red;
}
.username.invalid input {
  color: #dc3545;
  border-color: #dc3545;
}

/**===============================================================================================================**/
/**password page**/
.photo2 {
  text-align: center;
}
.photo2 img {
  width: 100px;
  height: 100px;
}

.password {
  padding-top: 50px;
  padding-left: 120px;
}

.password input {
  border-color: #077545;
  border-style: solid;
  border-radius: 8px;
  height: 30px;
  width: 350px;
}

.password label {
  font-size: 14px;
  padding: 0px 0px 5px 5px;
}
.current,
.new,
.confirm {
  display: flex;
  flex-direction: column;
}

.new {
  padding-top: 30px;
}

.confirm {
  padding-top: 30px;
}

.btn2 {
  padding-top: 60px;
  text-align: center;
}

.btn2 button {
  width: 150px;
  height: 40px;
  border: none;
  background-color: #077545;
  border-radius: 8px;
  color: white;
}

.current.invalid label,
.new.invalid label,
.confirm.invalid label {
  color: red;
}
.current.invalid input,
.new.invalid input,
.confirm.invalid input {
  color: #dc3545;
  border-color: #dc3545;
}
