body {
    margin: 0;
}

.container {
    display:flex;
    margin-left: 350px;
}

.sidebar {
    background-color: #077545;
    width: 250px;
    height: 100vh;
}

.header {
    display: flex;
    padding-top: 25px;
}

.header h2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    margin: 0px;
}

.header img {
    margin-left: 40px;
    padding-top: 3px;
}

.list{
    padding-top: 60px;
}

.list div {
    display: flex;
}

.list a {
    padding-top: 3px;
}

.sidebar img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.sidebar ul{
    margin: 0;
    list-style-type: none;
}

.sidebar li{
    margin-bottom: 30px;
}
.sidebar a{
    text-decoration: none;
    color:white;;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.pass-content {
    border-right: 1px solid #077545;
    padding: 120px 116px 0px 116px;
}

.photo{
    text-align: center;
}
.pass-content img{
    width: 100px;
    height: 100px;
}

.password {
    padding-top: 60px;
}

.password input {
    border-color: #077545;
    border-style:solid;
    border-radius: 8px;
    height: 30px;
    width: 350px;
}

.password label {
    font-size: 14px;
    padding: 0px 0px 5px 5px;
}
.current, .new, .confirm {
    display: flex;
    flex-direction: column;
}

.new {
    padding-top: 30px;
}

.confirm {
    padding-top: 30px;
}

.btn {
    padding-top: 60px;
    text-align: center;
}

.btn button {
    width: 150px;
    height: 40px;
    border: none;
    background-color: #077545;
    border-radius: 8px;
    color: white;
}
