* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 400px;
  overflow: auto;
}

.container {
  height: 550px;
  transition: 0.2s ease;
}
.container.active {
  height: 650px;
}

.container .login {
  transition: transform 0.5 ease;
  transform: translatex(0);
}
.container.active .login {
  position: absolute;
  transition: none;
  transform: translatex(-450px);
}

.login,
.register {
  width: 400px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.container .register {
  position: absolute;
  top: 0;
  transform: translatex(500px);
}
.container.active .register {
  transition: transform 0.5 ease;
  top: 0;
  transform: translatex(0);
}
.logo {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.logo img {
  width: 100px;
  height: 100px;
}
.logo span {
  font-family: League Spartan light;
  color: #006f43;
  font-size: 40px;
  padding-top: 30px;
  padding-left: 10px;
  transform: scaleY(1.3);
  letter-spacing: -1.5px;
}

.top-massage {
  text-align: center;
  margin-top: 25px;
}

.top-massage span {
  font-family: League Spartan regular;
  color: #6ea085;
  font-size: 30px;
}
.input-area {
  width: 80%;
}
.input-box {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #006f43;
}
.input-box.error {
  border-bottom: 2px solid red;
}

.input-box label {
  position: absolute;
  top: 40%;
  left: 7px;
  font-size: 1.5em;
  color: #6ea085;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}
.input-box input {
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  color: #006f43;
  background: transparent;
  border: none;
  outline: none;
}
.input-box.invalid {
  border-bottom: #dc3545 2px solid;
}
.input-box.invalid label {
  color: #dc3545;
}
.input-box.invalid input {
  color: #dc3545;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -18px;
}

.login .forget {
  align-self: flex-end;
  margin-top: 20px;
  font-family: League Spartan regular;
  color: #6ea085;
  font-size: 20px;
  text-decoration: none;
}

.login .login-btn,
.register .signup-btn {
  height: 50px;
  width: 300px;
  background-image: linear-gradient(to right, #89dc66, #006f43);
  border-radius: 30px;
  border: none;
  margin-top: 30px;
  color: white;
  font-size: 35px;
  font-family: League Spartan regular;
  transition: 0.5s;
}

.login .login-btn:hover,
.register .signup-btn:hover {
  transform: scale(110%);
  cursor: pointer;
}

.login .new,
.register .old {
  margin-top: 10px;
  font-family: League Spartan regular;
  color: #6ea085;
  font-size: 20px;
}

.new a,
.old a {
  font-family: League Spartan regular;
  color: #6ea085;
  margin-left: 10px;
  font-weight: bold;
  text-decoration: none;
}
.error {
  color: #dc3545;
  text-align: left;
  margin-top: 5px;
}
