@import url("https://fonts.googleapis.com/css2?family=League+Spartan&family=Libre+Franklin:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 50px;
}
.container {
  width: 90%;
  margin: auto;
}
nav {
  padding-top: 5px;
  background-image: linear-gradient(to left, #006f43, #89dc66);
  display: flex;
}

nav .back {
  width: 10%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .back img {
  width: 40px;
  padding: 5px;
  transition: width 0.5s;
}
nav .back img:hover {
  width: 45px;
  cursor: pointer;
}
nav .page-name {
  width: 90%;
  text-align: center;
  font-family: "League Spartan", sans-serif;
  font-size: 30px;
  color: #fff;
  padding: 10px;
}

.sites {
  margin-top: 20px;
}
.sites .site {
  margin: 10px auto;
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
  height: 70px;
  transition-property: all;
  transition: 0.3s;
}
.sites .site img {
  width: 60px;
  height: 60px;
  padding: 5px;
}

\
